.pane-text-type{
    font-family: Poppins, monospace;
    text-justify: auto;
    color: black;
}

.pane-text-type h6{
    font-family: Zen Dots, monospace;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.pane-text-type h5{
    font-family: Zen Dots, monospace;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.photo-border {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.6 );
    border-style: solid;
    border-width: 5px;
    border-color: rgb(105, 104, 102);
    border-radius: 7px;
}

.photo {
    width: 100%;
    margin: 10px;
    object-fit: cover;
}

.message-box {
    text-align: center;
    vertical-align: center;
}

.message {
    width: 40px;
    margin: 10px;
    object-fit: cover;
    /* max-width: 60px;
    max-height: 60px; */
    min-width: 40px;
    /* min-height: 60px; */
}